* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 300
}

nav {
  background-color: aquamarine;
  position: sticky;
  top: 0;
  
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  list-style: none;
  margin: 0 10px;
}

li {
  margin: 10px;
}
